{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en"  dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Shop online{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa-stack[data-count]:after {
            position: absolute;
            right: 0%;
            top: 0%;
            content: attr(data-count);
            font-size: 40%;
            padding: .6em;
            border-radius: 999px;
            line-height: .75em;
            color: #136dc7;
            text-align: center;
            min-width: 2em;
            font-weight: bold;
            background: #e9f3f1;
            border-style: solid;
        }

        .color-cart {
            color: #e9f3f1;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row m-4" id="navbarTogglerDemo01">
            <div class="navbar-nav me-auto ms-2 d-flex justify-content-center">
                <div class="col-2">
                    <a class="navbar-brand" href="#">{% trans 'OnlineShop' %}</a>
                </div>
                <div class="col-1 nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'landing:Home' %}">{% trans 'Home' %}</a>
                </div>
                <div class="col-1 nav-item">
                    <a class="nav-link active" href="{% url 'product:category' %}">{% trans 'Category' %}</a>
                </div>
                <form class="col-5 d-flex">
                    <input class="form-control me-4" type="search" placeholder="{% trans 'Search product' %}"
                           aria-label="Search">
                    <button class="btn btn-outline-light text-dark" type="submit">{% trans 'Search' %}</button>
                </form>
                <div class="col-2 nav-item d-flex justify-content-end">
                    <span class="fa-stack fa-1x  bg-primary" data-count="5">
                        <a href="#"><i class="fa fa-shopping-cart fa-stack-2x color-cart "></i></a>
                    </span>
                    <span>
                        <a href="{% url 'landing:login' %}"><i class="fa fa-user color-cart"
                                                               style="font-size:28px">{{ user.first_name }}</i></a>
                    </span>

                </div>
            </div>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #3b5998;"
                    href="#!"
                    role="button"
            ><i class="fa fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #55acee;"
                    href="#!"
                    role="button"
            ><i class="fa fa-twitter"></i
            ></a>

            <!-- Google -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #dd4b39;"
                    href="#!"
                    role="button"
            ><i class="fa fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #ac2bac;"
                    href="#!"
                    role="button"
            ><i class="fa fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #0082ca;"
                    href="#!"
                    role="button"
            ><i class="fa fa-linkedin-square"></i
            ></a>
            <!-- Github -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #333333;"
                    href="#!"
                    role="button"
            ><i class="fa fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 bg-primary">
        {% trans '© 2020 Copyright:' %}
        <a class="text-white" href="https://mdbootstrap.com/"> {% trans 'OnlineShop' %}</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</>
