{% extends "landing/base/_base.html" %}
{% load i18n %}
{% block title %} profile {% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class=" mt-4 p-4">
                    {% if messages %}
                        {% for msg in messages %}
                            {% if msg.level != DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <h5 class="{{ msg.tags }}">{{ msg }}</h5>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <form action="{% url 'landing:login' %}" method="post" class="row g-3">
                        {% csrf_token %}
                        <h4>{% trans 'Welcome OnlineShop' %}</h4>
                        <div class="col-12">
                            <label>{% trans 'Phone' %}</label>
                            <input type="text" name="phone" class="form-control" placeholder="{% trans 'Phone' %}">
                        </div>
                        <div class="col-12">
                            <label>{% trans 'Password' %}</label>
                            <input type="password" name="password" class="form-control"
                                   placeholder="{% trans 'Password' %}">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-end">{% trans 'Login ' %}</button>
                        </div>
                    </form>
                    <div class="col-12">
                        <p class="text-center mb-0">{% trans 'Have not account yet? ' %} <a
                                href="{% url 'landing:register' %}">{% trans 'Signup' %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}