{% extends "landing/public/profile.html" %}
{% load i18n %}
{% block title %} change password{% endblock %}
{% block profile %}
<div id="content-main">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}


<p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}

      <label class="form-label" for="input">{{ form.old_password.label_tag }}</label>
        <input type="password" name="old_password" class="form-control"
               autocomplete="current-password" autofocus="" required="" id="id_old_password">
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <label class="form-label" for="input">{{ form.new_password1.label_tag }}</label>
    <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required="" id="id_new_password1">
    {% if form.new_password1.help_text %}
    <div class="help">{{ form.new_password1.help_text|safe }}</div>
    {% endif %}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
        <label class="form-label" for="input">{{ form.new_password2.label_tag }}</label>
    <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2">
    {% if form.new_password2.help_text %}
    <div class="help">{{ form.new_password2.help_text|safe }}</div>
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" class="btn btn-primary default m-3" value="{% translate 'Change my password' %}">
</div>

</div>
</form></div>

{% endblock %}
