{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login_.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktranslate trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktranslate %}
</p>
{% endif %}
<div class="wrapper">
    <div class="logo"> <img src="https://www.freepnglogos.com/uploads/shopping-bag-png/shopping-bag-png-25.png"  alt=""> </div>
    <div class="text-center mt-4 name glyphicon-text-background"> {% translate 'Laptez' %} </div>
<form action="{{ app_path }}" method="post" id="login-form" class="p-3 mt-3">{% csrf_token %}
    <div class="login_form">
  <div class="form-field d-flex align-items-center">
      <span class="fa fa-user"></span>
    {{ form.username.errors }}
      <input type="text" name="username"  maxlength="20" required="" id="id_username">
  </div>
  <div class="form-field d-flex align-items-center">
      <span class="fa fa-key"></span>
    {{ form.password.errors }}
      <input type="password" name="password"  required="" id="id_password">
  </div>
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
      <div class="text-center fs-6"> <input type="submit" value="{% translate 'Log in' %}"> </div>
</form>

</div>
</div>
{% endblock %}

    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="userName" id="userName" placeholder="Username"> </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Password"> </div> <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6"> <a href="#">Forget password?</a> or <a href="#">Sign up</a> </div>
