{% extends "landing/public/profile.html" %}
{% load i18n %}
{% block title %} Login {% endblock %}
{% block profile %}
    <div class="container rounded bg-white mb-5 ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 border-right ">
                <div class="p-3">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <h4 class="text-right">{% trans 'Profile' %} </h4>
                    </div>
                    <form action="{% url 'customer:User_update' user.id %}" method="post">
                        {% csrf_token %}
                        <div class="row mt-2 ">
                            <div class="col-md-6"><label class="labels">{% trans 'Name' %}</label><input type="text"
                                                                                                         class="form-control"
                                                                                                         name="firstname"
                                                                                                         placeholder="first name"
                                                                                                         value="{{ user.first_name }}">
                            </div>
                            <div class="col-md-6"><label class="labels">{% trans 'Surname' %}</label><input type="text"
                                                                                                            class="form-control"
                                                                                                            name="lastname"
                                                                                                            value="{{ user.last_name }}"
                                                                                                            placeholder="surname">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">{% trans 'Mobile Number' %}</label><input
                                    type="text"
                                    class="form-control"
                                    name="phone"
                                    placeholder="enter phone number"
                                    value="{{ user.phone }}"></div>
                            <div class="col-md-12"><label class="labels">{% trans 'Email ID' %}</label><input
                                    type="text"
                                    class="form-control"
                                    name="email"
                                    placeholder="enter email id"
                                    value="{{ user.email }}"></div>
                            {#                        <div class="col-md-12"><label class="labels">{% trans 'last login' %}</label>#}
                            {#                            <p type="text" class="form-control">{{ user.last_login}} {% now "SHORT_DATETIME_FORMAT" %}</p></div>#}
                        </div>

                       <div class="mt-5 text-center">
                                                    <input type="submit" class="btn btn-primary profile-button" value="{% trans 'Save Profile' %}">
                        </div>
                    </form>
                    <div class="mt-5 text-center">
                        <a href="">
                            <button class="btn btn-primary profile-button"
                                    type="button">{% trans 'Change password user name' %}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}