{% extends "landing/public/profile.html" %}
{% load i18n %}
{% block title %} Address Detail {% endblock %}
{% block profile %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{% trans 'province' %}</th>
            <th scope="col">{% trans 'town' %}</th>
            <th scope="col">{% trans 'city' %}</th>
            <th scope="col">{% trans 'street' %}</th>
            <th scope="col">{% trans 'alley' %}</th>
            <th scope="col">{% trans 'Plaque' %}</th>
            <th scope="col">{% trans 'zip_code' %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ province }}</td>
            <td>{{ town }}</td>
            <td>{{ city }}</td>
            <td>{{ street }}</td>
            <td>{{ alley }}</td>
            <td>{{ Plaque }}</td>
            <td>{{ zip_code }}</td>
            <td><a href="{% url 'customer:Address_update' id %}" class="">
            <i class="fa fa-pencil-square " style="font-size:20px"></i>
            </a></td>
            <td><a href="{% url 'customer:Address_delete' id %}" class="">
            <i class="fa fa-trash " style="font-size:20px"></i>
        </a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}