{% extends "landing/public/profile.html" %}
{% load i18n %}
{% block title %} Order list {% endblock %}
{% block profile %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/Order_customer.css" %}">
    <div class="container "></div>
    <div class="row ">
        <div class="list-group mt-3 ">
            <div class="col-md-12 m-2 d-flex justify-content-center">
                <div class="d-inline m-2 btn btn btn-danger text-white"><a class="" id="list-profile-list"
                                                                           data-bs-toggle="list"
                                                                           href="#list-profile" role="tab"
                                                                           aria-controls="list-profile"
                                                                           style="color: white;text-decoration: none">{% trans 'Canceled' %}</a>
                </div>
                <div class="d-inline m-2 btn btn-warning text-white"><a class="" id="list-messages-list"
                                                                        data-bs-toggle="list"
                                                                        href="#list-messages" role="tab"
                                                                        aria-controls="list-messages"
                                                                        style="color: white;text-decoration: none">{% trans 'Current' %}</a>
                </div>
                <div class="d-inline m-2 btn btn-success text-white"><a class="" id="list-settings-list"
                                                                        data-bs-toggle="list"
                                                                        href="#list-settings" role="tab"
                                                                        aria-controls="list-settings"
                                                                        style="color: white;text-decoration: none">{% trans 'Delivered' %}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content " id="nav-tabContent">
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <p class="bg-danger  rounded-pill p-2 d-flex justify-content-center"
                           aria-current="true">{% trans 'Canceled' %}</p>
                        {% for res in results %}
                            {% if res.status_Order == 3 %}
                                <section>
                                    <details>
                                        <summary>{% trans 'Address Order' %}:{{ res.address.city }},{{ res.address.zip_code }}</summary>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{% trans 'name product' %}</th>
                                                <th scope="col">{% trans 'price' %}</th>
                                                <th scope="col">{% trans 'count' %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order_item in res.order_items %}
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>{{ order_item.Product.name_product }}</td>
                                                    <td>{{ order_item.Product.price }}</td>
                                                    <td>{{ order_item.Count }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </details>
                                </section>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <p class="bg-warning  rounded-pill p-2 d-flex justify-content-center"
                           aria-current="true">{% trans 'Current' %}</p>
                        {% for res in results %}
                            {% if res.status_Order == 1 %}
                                <section>
                                    <details>
                                        <summary>{% trans 'Address Order' %}:{{ res.address.city }},{{ res.address.zip_code }}</summary>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">{% trans 'name product' %}</th>
                                                <th scope="col">{% trans 'price' %}</th>
                                                <th scope="col">{% trans 'count' %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order_item in res.order_items %}
                                                <tr>
                                                    <td>{{ order_item.Product.name_product }}</td>
                                                    <td>{{ order_item.Product.price }}</td>
                                                    <td>{{ order_item.Count }}</td>
                                                    <td><input type="number" id="tentacles" name="tentacles"
                                                               min="1" max="100" value="{{ order_item.Count }}"></td>
                                                    <td><a href="{% url 'order:delete_order_item' order_item.id %}" class="">
                                                        <i class="fa fa-trash " style="font-size:20px"></i>
                                                    </a></td>
                                                </tr>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </details>
                                </section>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <p class="bg-success  rounded-pill p-2 d-flex justify-content-center"
                           aria-current="true">{% trans 'Delivered' %}</p>
                        {% for res in results %}
                            {% if res.status_Order == 2 %}
                                <section>
                                    <details>
                                        <summary>{% trans 'Address Order' %}:{{ res.address.city }},{{ res.address.zip_code }}</summary>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{% trans 'name product' %}</th>
                                                <th scope="col">{% trans 'price' %}</th>
                                                <th scope="col">{% trans 'count' %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order_item in res.order_items %}
                                                <tr>
                                                <th scope="row">1</th>
                                                <td>{{ order_item.Product.name_product }}</td>
                                                <td>{{ order_item.Product.price }}</td>
                                                <td>{{ order_item.Count }}</td>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </details>
                                </section>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
