{% extends "landing/public/profile.html" %}
{% load i18n %}
{% block title %} Order list {% endblock %}
{% block profile %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/Order_customer.css" %}">
    <div class="container "></div>
    <div class="row ">
        <div class="list-group mt-3 ">
            <div class="col-md-12 m-2 d-flex justify-content-center">
                <div class="d-inline m-2 btn btn btn-danger text-white"><a class="" id="list-profile-list"
                                                                           data-bs-toggle="list"
                                                                           href="#list-profile" role="tab"
                                                                           aria-controls="list-profile"
                                                                           style="color: white;text-decoration: none">{% trans 'Canceled' %}</a>
                </div>
                <div class="d-inline m-2 btn btn-warning text-white"><a class="" id="list-messages-list"
                                                                        data-bs-toggle="list"
                                                                        href="#list-messages" role="tab"
                                                                        aria-controls="list-messages"
                                                                        style="color: white;text-decoration: none">{% trans 'Current' %}</a>
                </div>
                <div class="d-inline m-2 btn btn-success text-white"><a class="" id="list-settings-list"
                                                                        data-bs-toggle="list"
                                                                        href="#list-settings" role="tab"
                                                                        aria-controls="list-settings"
                                                                        style="color: white;text-decoration: none">{% trans 'Delivered' %}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content " id="nav-tabContent">
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <p class="bg-danger  rounded-pill p-2 d-flex justify-content-center"
                           aria-current="true">{% trans 'Canceled' %}</p>
                        {% for res in results %}
                            {% if res.status_Order == 3 %}
                                <section>
                                    <details>
                                        <summary>{% trans 'Address Order' %}:{{ res.address.city }},{{ res.address.zip_code }}</summary>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{% trans 'name product' %}</th>
                                                <th scope="col">{% trans 'price' %}</th>
                                                <th scope="col">{% trans 'count' %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order_item in res.order_items %}
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>{{ order_item.Product.name_product }}</td>
                                                    <td>{{ order_item.Product.price }}</td>
                                                    <td>{{ order_item.Count }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </details>
                                </section>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <p class="bg-warning  rounded-pill p-2 d-flex justify-content-center"
                           aria-current="true">{% trans 'Current' %}</p>
                        {% for res in results %}
                            {% if res.status_Order == 1 %}
                                <section>
                                    <details>
                                        <summary>{% trans 'Address Order' %}:{{ res.address.city }},{{ res.address.zip_code }}</summary>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">{% trans 'name product' %}</th>
                                                <th scope="col">{% trans 'price' %}</th>
                                                <th scope="col">{% trans 'count' %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order_item in res.order_items %}
                                                <tr>
                                                    <td>{{ order_item.Product.name_product }}</td>
                                                    <td>{{ order_item.Product.price }}</td>
                                                    {% csrf_token %}
                                                    <td>
                                                        <button class="btn btn-primary px-3 me-2"
                                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown();
                                                                        update_item('{% url 'order:update_order_item' order_item.id %}',{{ order_item.id }});">
                                                            <i class="fa fa-minus"></i>
                                                        </button>

                                                        <input type="number" id="number" name="tentacles"
                                                               min="1" max="{{ order_item.Product.number_store }}" value="{{ order_item.Count }}">

                                                        <button class="btn btn-primary px-3 ms-2"
                                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp();
                                                                        update_item('{% url 'order:update_order_item' order_item.id %}',{{ order_item.id }});">
                                                            <i class="fa fa-plus"></i>
                                                        </button>

                                                    </td>
                                                    <td>
                                                        <button onclick="remove_item('{% url 'order:delete_order_item' order_item.id %}',{{ order_item.id }})"
                                                                class="btn btn-primary">
                                                            <i class="fa fa-trash " style="font-size:20px"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </details>
                                </section>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <p class="bg-success  rounded-pill p-2 d-flex justify-content-center"
                           aria-current="true">{% trans 'Delivered' %}</p>
                        {% for res in results %}
                            {% if res.status_Order == 2 %}
                                <section>
                                    <details>
                                        <summary>{% trans 'Address Order' %}:{{ res.address.city }},{{ res.address.zip_code }}</summary>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{% trans 'name product' %}</th>
                                                <th scope="col">{% trans 'price' %}</th>
                                                <th scope="col">{% trans 'count' %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order_item in res.order_items %}
                                                <tr>
                                                <th scope="row">1</th>
                                                <td>{{ order_item.Product.name_product }}</td>
                                                <td>{{ order_item.Product.price }}</td>
                                                <td>{{ order_item.Count }}</td>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </details>
                                </section>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function remove_item(url, id) {
            console.log(url)
            console.log(id)
            csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val()
            console.log(csrfmiddlewaretoken)
            var sendInfo = {
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                id: id,
            };
            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                headers: {
                    "X-CSRFToken": csrfmiddlewaretoken
                },
                success: () => {
                    alert("remove cart_item")
                    Swal.fire({
                        icon: 'error',
                        title: 'remove cart_item',
                        timer: 10000
                    })
                },
                data: sendInfo
            });

        }

        function update_item(url, id) {
            var number = $("#number").val();
            csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val()
            console.log(csrfmiddlewaretoken)
            var sendInfo = {
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                id: id,
                number: parseInt(number)
            };
            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                headers: {
                    "X-CSRFToken": csrfmiddlewaretoken
                },
                success: () => {
                    alert("remove cart_item")
                    Swal.fire({
                        icon: 'error',
                        title: 'remove cart_item',
                        timer: 10000
                    })
                },
                data: sendInfo
            });

        }
    </script>
{% endblock %}
