{% extends "landing/base/_base.html" %}
{% block title %} Category {% endblock %}
{% load i18n %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/detail_product.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/product.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/category.css" %}">
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="{{ Detail_product.image.url }}"/></div>

                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                                    src="{{ Detail_product.image.url }}"/></a></li>
                        </ul>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{ Detail_product.name_product }}</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">{% trans '41 reviews' %}</span>
                        </div>
                        <p class="product-brand">{{ Detail_product.brand }}</p>
                        <p class="product-description">{{ Detail_product.descriptions }}</p>
                        <p class="number">{% trans 'number in shop:' %} <span>{{ Detail_product.number_store }} </span>
                        </p>
                        <h5 class="price">{% trans 'current price:' %}
                            <span>{{ Detail_product.price }} {% trans 'Rial' %}</span></h5>
                        <p class="vote">
                            <strong>{% trans '91%' %} </strong> {% trans 'of buyers enjoyed this product!' %}
                            <strong>{% trans '87 votes' %}</strong>
                        </p>
                        <div class="action">
                            {% csrf_token %}
                            <div class="qty mt-1 mb-2">
                                <span class="minus  btn-danger">-</span>
                                {#                                    <input type="number" class="add-to-cart count" name="number" value="1" min="1"#}
                                {#                                           max="{{ Detail_product.number_store }}">#}
                                <input type="number" id="number" class="count me-3 ms-3 btn-warning" name="number"
                                       value="1"
                                       min="1"
                                       max="{{ Detail_product.number_store }}">

                                <span class="plus btn-success"
                                      onclick="plus({{ Detail_product.number_store }})">+</span>
                            </div>
                            <div class="mt-5">
                                <a href="{% url 'product:category_product' Detail_product.category_id %}?page=1"
                                   style="color: white;text-decoration: none">
                                    <div class="d-inline like btn btn-default w-40 mt-2"
                                    >{% trans 'back' %}</div>
                                </a>
                                <div class="d-inline add-to-cart btn btn-default fa-cart-plus w-40"
                                     onclick="add_product('{% url 'product:add_product' Detail_product.id %}',{{ Detail_product.id }});add_product_alert()"
                                >{% trans 'add to cart' %}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.count').prop('disabled', true);

            function plus(max) {
                if (parseInt($('.count').val()) <= max-1) {
                    $('.count').val(parseInt($('.count').val()) + 1);
                }
            }

            $(document).on('click', '.minus', function () {
                $('.count').val(parseInt($('.count').val()) - 1);
                if ($('.count').val() == 0) {
                    $('.count').val(1);
                }
            });

            function add_product_alert() {
                Swal.fire({
                    icon: 'success',
                    title: 'product add to cart',
                    timer: 2000
                })
            }

            function add_product(url, id) {
                var number = $("#number").val();
                console.log(number)
                csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val()
                var sendInfo = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    id: id,
                    number: parseInt(number),
                };
                console.log(sendInfo)
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "json",
                    headers: {
                        "X-CSRFToken": csrfmiddlewaretoken
                    },
                    success: () => {
                        alert("add to cart")
                        Swal.fire({
                            icon: 'success',
                            title: 'product add to cart',
                            timer: 10000
                        })
                    },
                    data: sendInfo
                });
            }
        </script>
{% endblock %}