{% extends "landing/base/_base.html" %}
{% block title %} Category {% endblock %}
{% load i18n %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/detail_product.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/product.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/category.css" %}">
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="{{ Detail_product.image.url }}"/></div>

                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                                    src="{{ Detail_product.image.url }}"/></a></li>

                        </ul>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{ Detail_product.name_product }}</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">41 reviews</span>
                        </div>
                        <p class="product-brand">{{ Detail_product.brand }}</p>
                        <p class="product-description">{{ Detail_product.descriptions }}</p>
                        <p class="number">number in shop: <span>{{ Detail_product.number_store }} </span></p>
                        <h5 class="price">current price: <span>{{ Detail_product.price }} Rial</span></h5>
                        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong>
                        </p>
                        <div class="action">
                            <form action="{% url 'product:add_product' Detail_product.id %}" method="post">
                                {% csrf_token %}
                                <div class="qty mt-1 mb-2">
                                    <span class="minus  btn-danger">-</span>
                                    {#                                    <input type="number" class="add-to-cart count" name="number" value="1" min="1"#}
                                    {#                                           max="{{ Detail_product.number_store }}">#}
                                    <input type="number" class="me-3 ms-3 btn-warning" name="number" value="1" min="1"
                                           max="{{ Detail_product.number_store }}">

                                    <span class="plus btn-success">+</span>
                                </div>
                                <input class="add-to-cart btn btn-default fa-cart-plus w-50"
                                       type="submit"  value=" {% trans 'add to cart' %}">
                            </form>
                            <a href="{% url 'product:category_product' Detail_product.category_id %}">
                                <button class="like btn btn-default w-50 mt-2" type="button"><span
                                        class="fa fa-arrow-left"></span>
                                </button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.count').prop('disabled', true);
        $(document).on('click', '.plus', function () {
            $('.count').val(parseInt($('.count').val()) + 1);
        });
        $(document).on('click', '.minus', function () {
            $('.count').val(parseInt($('.count').val()) - 1);
            if ($('.count').val() == 0) {
                $('.count').val(1);
            }
        });

        function add_product() {
            Swal.fire({
                icon: 'success',
                title: 'product add to cart',
                timer: 100000
            })
        }
    </script>
{% endblock %}