{% extends "landing/product/Category.html" %}
{% block title %} product {% endblock %}
{% load i18n %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/product.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/category.css" %}">
    <div class="container mt-1">
        {% for i in Category_list %}
            <div class="dropdown">
                {% if  i.category_root  == None %}
                    <p type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">
                        {{ i.category_name }}</p>
                    <ul class="dropdown-menu">
                        {% for j in Category_list %}
                            {% if j.category_root == i %}
                                <li><a class="dropdown-item" href="{% url 'product:category_product' pk=j.id%}?page=1"
                                       id="{{ j.category_name }}"
                                       data-id="{{ j.category_name }}">{{ j.category_name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

    </div>
    <div class="container mt-3 mb-3 d-flex justify-content-center">
        <div class="row d-flex justify-content-center">
            {% for product in product_category_page.object_list %}
                <div class="card  m-2 " style="width: 15rem;">
                    <a href="{% url 'product:Detail_product' product.id %}">
                        <img src="{{ product.image.url }}" class="card-img-top" data-bs-toggle="modal"
                             data-bs-target="#{{ product.name_product }}"
                             alt="{{ product.name_product }}" width="350" height="200">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name_product }}</h5>
                        <p class="card-text">{{ product.price }} Rial</p>

                        <a class="btn btn-primary" href="{% url 'product:Detail_product' product.id %}">{% trans 'Detail products' %}
                            <i class="fa fa-info-circle  ml-2" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="inline mb-2 d-flex flex-row-reverse bd-highlight ">
        {% if product_category_page.has_next %}
                      <a href="{% url 'product:category_product' 8 %}?page={{ product_category_page.next_page_number }}"
                         class="badge bg-primary text-wrap m-1 me-3"  style="text-decoration: none;">{% trans 'Next' %} &raquo;</a>
        {% endif %}
    {% if product_category_page.has_previous %}
                <a href="{% url 'product:category_product' 8 %}?page={{ product_category_page.previous_page_number }}" class="badge bg-primary text-wrap m-1 me-3" style="text-decoration: none;">&laquo;
            {% trans 'Previous' %}</a>
    {% endif %}
    </div>
{% endblock %}
